<div class="row center">
	<div style="max-width: 900px; line-height: 2; width: 100%;" class="center">
	<h1>New page size and aspect ratio</h1>
		<p>
		Eternalsmile is gonna look like this now, sorry for the jarring change, but I realized that I want this chapter to be one that can be printed, and this aspect ratio is copy paper folded in half and trimmed for bleeds, letting me print these on my own. I find it pretty novel, so I'll be targeting that for now on.

		</p>
		<p style="padding-top: 40px;padding-bottom: 40px;">
		Thank you for putting up with my sporadic decisions 
		</p>
		<div class="center" style="max-width: 600px; background: #edefec; padding: 40px;">
			<img src="https://i.ibb.co/mF0bqy4d/Untitled.webp" style="filter: drop-shadow(10px 10px 15px black); max-width: 100%;">
		</div>
	</div>
</div>

