<div class="row center">
	<h1><span>
		<div class="plot banner white bg"></div>
		<div class="j ex read"></div>
	</span></h1>
	<div style="max-width: 900px; line-height: 2;" class="center">
		<h3>friends at last!! </h3>	
		<p>
			Last time, the orange leopard gecko named "Aireoli" finally caught up to the pink furred and red eyed "Jj Doe", with a proposal: To be best buddies!!! It didn't work out initially with Jj being shocked and embarrassed, but after sitting on it for a minute Jj came around and made Aireoli's day with their little dap up, signifying their friendship.
		</p>
		<p>
			But what awaits them now shouldn't surprise you, they started the day off hearing how they've been elected to leave the orphanage to get supplies for the rest of the kids! This has all but escaped Jj's mind we'll be soon to see; And not that they've gotten cold feet- J was NEVER down to go, they just never got the chance to tell their leader, the black bear "Mr. King" what was up...
		</p>
		<p>
			Aireoli on the other hand really seems excited to embark on his first ever adventure with someone he can claim as his friend through and through. In fact, he's so infatuated with it all he doesn't seem to pick up on the fact Jj ain't really tryna go...
		</p>
		<p>
			Hopefully this conflict in interest doesn't cause a rift in their barely 10 minute friendship!
		</p>
		<p style="padding-top: 100px;">
			Oh, yeah... The black and white Maine Coon JERK named "Cydia Sue" is here too... and she brought her potty mouth with her this time. Guess it's time to update the flags then. 
		</p>
	</div>
	<img src="../assets/extra/88webp.webp" class="" style="max-width: 100%;">
	<div style="max-width: 900px;">
		<p>
			But with all that aside this will be the most eventful chapter to date! We'll see returning faces, new ones, and sides of these critters that we've never seen before. Hopefully you stick with us to the very end, thank you for deciding to read!
		</p>
	</div>
</div>
