<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ comic_data.title }}</title>
	<base href="{{ root }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" href="assets/metacontent/icons/x16.png">
    <link rel="stylesheet" href="assets/11ty-style.css">
    <!--<link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/es-symbols.css">-->

</head>
<body id="{{ pagination.items[0].flags }}{{ siteFlags }}" class="blackground bg local {% if tag == 'page' %}actual{% endif %} {{ pagination.items[0].pageRatio }}" style="margin-top:10px"> 
<div id="vWindow" style="width: 100%; position: relative;">
	<nav id="topBookmarks" class="horizontalList" style="padding-left: 2%; position: fixed; z-index: 3; transform: translateY(-25%);">
		<a class="top nav icon bookmark ani dynamicles save clippy white bg"></a>
		<a class="top nav icon bookmark ani dynamicles load clippy white bg"></a>
	</nav>

	<header id="Title" class="horizontalList" style="width: 90%; max-width: 1220px;gap: 5%;">
		<a href="{{ comic_data.index }}" class="arrow nav clippy icon dynamicles flip mobile white bg"></a>
		<a href="{{ comic_data.index }}" id="banner" class="clippy main banner white bg"></a>
		<a href="{{ comic_data.index }}" class="arrow nav clippy icon dynamicles mobile white bg"></a>
 	</header>

    <nav id="mainnav" class="scroller horizontalList boldify white text" style="font-size:20px;max-width: 860px;">
	    <div class="iconBox subButton dynamicles" style="max-width: 110px; min-width: 20px;">
			<a href="{{ comic_data.index }}" class="mobile" id="mobileSub">subscribe</a>
			<span class="desktop" id="dSub">
				 <a href="{{ comic_data.index }}" class="fury hosted" title="Subscribe via ComicFury"></a>
				 <a href="{{ comic_data.index }}" class="mail hosted" title="Subscribe via mailing list"></a>
				 <a href="https://comicfury.com/comicprofile.php?url=eternalsmile" target="_blank" rel="noopener noreferrer"class="web"title="Subscribe via ComicFury"><img src="assets/metacontent/icons/extra/web.svg"></a>
				 <a href="{{ comic_data.index }}" class="rss hosted" title="Subscribe via RSS"></a>
			</span>
		</div>
        <a href="{{ comic_data.index }}">archive</a>
        <a href="assets/pagetray/1.html">first page</a>
        <a href="{{ comic_data.index }}" class="hosted">latest page</a>
        <a href="assets/pagetray/20.html" class="local">last page</a>
        <a href="{{ comic_data.index }}" class="hosted">scroll view</a>
	<a target="_blank" rel="noopener noreferrer"href="https://ko-fi.com/dekuuskrb" class="local">support</a>
    </nav>

    <div id="start" class="wrap" style="margin: auto;">

	    {{ content }}

<footer class="light grey text center fancyText flexify not row">
			<nav class="divided hosted" style="margin-bottom: 12px;" >
				<a href="{{ comic_data.index }}">RSS</a>
				<a href="{{ comic_data.index }}">Comic Profile</a>
				<a href="#vWindow">Top</a>
			</nav>
			<span class="hosted" style="margin-bottom:12px;">
				hosted by <a class="gator" href="{{ comic_data.index }}">comicfury</a> <a class="splash dynamicles" href="{{ comic_data.index }}" style="padding:5px;">(support them!!)</a>
			</span>
			                        <p style="text-transform:unset;" xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a property="dct:title" rel="cc:attributionURL" target="_blank" rel="noopener noreferrer"href="https://eternalsmile.cfw.me/" style="color: #aaaf;">ETERNALSMILE</a> by <span property="cc:attributionName">DEKUUSKRB</span> is licensed under <a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block; color:#aaaf;">CC BY 4.0<img style="height:22px!important;margin-left:3px;vertical-align:middle;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:middle;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"></a></p>
		</footer>
	</div>
	<!--<script src="assets/js/random-image.js"></script>
	<script src="assets/js/pulldown.js"></script>-->
	{{ scripts }}<!-- this is making [object Object] figure it out-->
	{{ relevant }}
</body>
</html>
