<div class="row center">
  <h1><span>
        Whoop Whoop!!! Chapter complete!!!!
  </span></h1>



  <div class="not row center" style="max-width: 800px;">
    <p>
      100% honesty it's prolly gonna be a minute before the next chapter starts to release (as per usual)
    </p>
    <p>
      I want to program a double page spread thing into the site, but I don't know exactly how I want it to look yet.
      I'm also going to try to be a lot more particular about how this next chapter is going to go, I truly want to
      get better at writing stories. I really, REEAAALLLYY do. It feels like I've been saying that for 4 years, but-
    </p>
    <p>
      Oh wait, Eternalsmile turned 4 years old a few weeks ago for the people who don't follow me on fake twitter, here's the drawing I made:
    </p>
  </div>
    <img class="center" style="width: 1000px; max-width: 90%" src="https://i.ibb.co/NgKXnBkc/97resize.webp"></img>
  <div class="not row center" style="max-width: 800px;">
    <p>Yeah, but like I was saying, it feels like I've been saying that for 4 years already.</p>
    <p>I was gonna type like a whole paragraph but it kinda read like I was wallowing, I hate that, so whatever...</p>
    <p>I already know what to do, and I've already said I'm not afraid of making a fool of myself trying- the next chapter is gonna be better- I'm aiming for it!</p>
  </div>

  <div class="card holder">
    <div class="card styled">
      <img src="https://i.ibb.co/hJxXxgR0/100.webp"></img>
      <img src="https://i.ibb.co/kgJmNfgS/101.webp"></img>
    </div>
  </div>

  <div class="row not center" style="max-width: 600px">
    <p>Oh, and thank you for all the comments, they really do mean everything and make it all worth it, highkey I need to do better in spreading that kind of love man, i gotta comment on other folks stuff more!</p>
    <p>Okay, bye bye!!! I'll set up the progress to the next chapter thing later, I'm tired</p>
  </div>
</div>
